<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login Page</title>
    
</head>

<body>

    <div class="login_form">
        <h1>Login Page</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="/Attendance_system/login" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username"><br><br>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password"><br><br>
            </div>

            <button type="submit">Submit</button><br><br>
        </form>
        <a href="{{'register'}}">Dont't have a account! Register here</a>
    </div>
        <form action="/Attendance_system/get_attendance" method="GET" enctype="multipart/form-data">
    <a href="/Attendance_system" onclick="reloadPage()">Go to Index</a>

    <script>
        function reloadPage() {
            location.reload();
        }
        
    </script>
</body>

</html>